#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.row-component {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.team-block {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  width: 30vw;
  flex: 1;
}

.team-block .form-check {
  text-align: left;
}

.team-block .input-group-lg {
  padding-bottom: 5%;
  
}

.team-block h2 {
  font-size: 3em;
}


.submitBar {
  justify-content: baseline;
  display: flex;
}
.verseConfig {
  flex: 1;
}

.quiz-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
.quiz-btn:hover {
  border-color: #646cff;
}
.quiz-btn:focus,
.quiz-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.quiz-list {
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 1.4em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-subtext {
  font-size: 0.9em;
}

.spread-out{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.input-group {
  align-items: center;
  justify-content: center;
}